<%- include('partials/header') %>
    <title>Coures</title>
    <div class="container mx-auto p-6">
        <h2 class="text-3xl font-bold mb-4">Available Courses</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div
                class="bg-white shadow-lg rounded-lg overflow-hidden transition-transform transform hover:scale-105 h-full">
                <img src="https://sourcebae.com/blog/wp-content/uploads/2023/09/1_FVtCyRdJ6KOr4YswTtwMeA.jpeg"
                    alt="Course Image" class="w-full h-48 object-cover">
                <div class="p-6">
                    <h3 class="font-semibold text-lg text-blue-600">MERN Stack Development</h3>
                    <p class="text-gray-700">Learn to build modern web applications using MongoDB, Express.js,
                        React,
                        and Node.js.</p>
                    <a href="/signup"
                        class="mt-4 inline-block bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition-colors">Enroll
                        Now</a>
                </div>
            </div>
            <!-- Course Card Example 2 -->
            <div
                class="bg-white shadow-lg rounded-lg overflow-hidden transition-transform transform hover:scale-105 h-full">
                <img src="gradient-devops-illustration_23-2149370941.jpg" alt="Course Image"
                    class="w-full h-48 object-cover">
                <div class="p-6">
                    <h3 class="font-semibold text-lg text-blue-600">DevOps Fundamentals</h3>
                    <p class="text-gray-700">Master the core principles of DevOps, CI/CD pipelines, and cloud
                        services.
                    </p>
                    <a href="/signup"
                        class="mt-4 inline-block bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition-colors">Enroll
                        Now</a>
                </div>
            </div>

        </div>
    </div>