<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <%- include('partials/headerDashboard') %>
        <div class="flex-1 p-10">
            <h2 class="text-2xl font-bold mb-6"> Welcome
            </h2>
        </div>
</body>

</html>